$primary-red: #e04343;
$primary-yellow: #ffe800;
$primary-black: #0f0a0a;
$primary-white: #f5efed;
$primary-blue: #2292a4;
$space-purple: #2e294e;
$orange: #ff9000;
$fairy-tale: #efbcd5;
$lilac: #be97c6;
$amethyst: #8661c1;
$gray-dark: rgba(0, 0, 0, 0.8);
$gray-light: rgba(255, 255, 255, 0.8);
$white: $primary-white;
$pad-1: 12px;

$ease-transform: transform 0.3s ease;

$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
